/* Shrink the dash by reducing padding and border radius */
#dashtodockContainer.dashtodockLTR #dash {
	background: rgba(0,0,0,0.9);
    border-left: none;
    border-radius: 0px 6px 6px 0px;
}

#dashtodockContainer.dashtodockRTL #dash {
	background: rgba(0,0,0,0.9);
	border-right: none;
    border-radius: 6px 0px 0px 6px;
}

#dashtodockContainer.dashtodockTTB #dash {
	background: rgba(0,0,0,0.9);
    /*border-left: 1px;*/
	border-top: none;
    border-radius: 0px 0px 6px 6px;
}

#dashtodockContainer.dashtodockBTT #dash {
	background: rgba(0,0,0,0.9);
    /*border-left: 1px;*/
	border-bottom: none;
    border-radius: 6px 6px 0px 0px;
}

#dashtodockContainer.dashtodockLTR .dash-item-container > StButton,
#dashtodockContainer.dashtodockRTL .dash-item-container > StButton,
#dashtodockContainer.dashtodockTTB .dash-item-container > StButton,
#dashtodockContainer.dashtodockBTT .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#dashtodockContainer.dashtodockLTR .dash-item-container > StButton,
#dashtodockContainer.dashtodockRTL .dash-item-container > StButton,
#dashtodockContainer.dashtodockTTB .dash-item-container > StButton,
#dashtodockContainer.dashtodockBTT .dash-item-container > StButton {
   padding: 1px;
}

/* Dash height extended to the whole available vertical space */
#dashtodockContainer.dashtodockLTR.extended,
#dashtodockContainer.dashtodockRTL.extended,
#dashtodockContainer.dashtodockTTB.extended,
#dashtodockContainer.dashtodockBTT.extended,
#dash {
    background: rgba(0,0,0,1);
    border:0;
    border-radius: 0;
}

/* Running and focused application style */

#dashtodockContainer.dashtodockLTR .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodockRTL .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodockTTB .app-well-app.running > .overview-icon,
#dashtodockContainer.dashtodockBTT .app-well-app.running > .overview-icon {
	background-image:none;
}

#dashtodockContainer.dashtodockLTR .app-well-app.focused > .overview-icon,
#dashtodockContainer.dashtodockRTL .app-well-app.focused > .overview-icon,
#dashtodockContainer.dashtodockTTB .app-well-app.focused > .overview-icon,
#dashtodockContainer.dashtodockBTT .app-well-app.focused > .overview-icon {
    transition-duration: 250;
    background-gradient-start: rgba(255, 255, 255, .05);
    background-gradient-end: rgba(255, 255, 255, .15);
    background-gradient-direction: vertical;
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 1);
}

#dashtodockContainer.dashtodockLTR .running1 {
    background-image: url('./media/one.svg');
}

#dashtodockContainer.dashtodockRTL .running1 {
    background-image: url('./media/one_rtl.svg');
}

#dashtodockContainer.dashtodockTTB .running1 {
    background-image: url('./media/one_ttb.png');
}

#dashtodockContainer.dashtodockBTT .running1 {
    background-image: url('./media/one_btt.png');
}

#dashtodockContainer.dashtodockLTR .running2 {
    background-image: url('./media/two.svg');
}

#dashtodockContainer.dashtodockRTL .running2 {
    background-image: url('./media/two_rtl.svg');
}

#dashtodockContainer.dashtodockTTB .running2 {
    background-image: url('./media/two_ttb.png');
}

#dashtodockContainer.dashtodockBTT .running2 {
    background-image: url('./media/two_btt.png');
}

#dashtodockContainer.dashtodockLTR .running3 {
   background-image: url('./media/three.svg');
}

#dashtodockContainer.dashtodockRTL .running3 {
    background-image: url('./media/three_rtl.svg');
}

#dashtodockContainer.dashtodockTTB .running3 {
    background-image: url('./media/three_ttb.png');
}

#dashtodockContainer.dashtodockBTT .running3 {
   background-image: url('./media/three_btt.png');
}

#dashtodockContainer.dashtodockLTR .running4 {
    background-image: url('./media/four.svg');
}

#dashtodockContainer.dashtodockRTL .running4 {
    background-image: url('./media/four_rtl.svg');
}

#dashtodockContainer.dashtodockTTB .running4 {
    background-image: url('./media/four_ttb.png');
}

#dashtodockContainer.dashtodockBTT .running4 {
    background-image: url('./media/four_btt.png');
}
